<html ng-app="MyApp">
	<head>
		<title>Mem Allocanator</title>
		<meta name="author" content="Fyodor Wolf">
		<meta name="description" content="An educational tool and simulator of how hardrive allocatoins are done">

		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<link rel="stylesheet" href="static/css/bootstrap.min.css">
		<link rel="stylesheet" href="static/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="static/css/styles.css">
		<link rel="stylesheet" href="static/css/animations.css">

	</head>
	<body ng-controller="AppController">
		<div ng-view>	
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<h2>Mem Allocanator</h2>
					</div>	
				</div>	
				<div class="row">
					<div class="col-lg-6">
						<h3>Setup</h3>
						<div class="form-group">
							<label for="scheme">Allocation</label>
							<select id="scheme" class="form-control" role="group" aria-label="Insertion Algorithm" ng-model="allocation" ng-options="item.name for item in allocations">
							</select>
						</div>
						<div ng-show="allocation.show" class="form-group">
							<label for="fit">Contigous Insertion</label>
							<select id="fit" class="form-control" role="group" aria-label="Insertion Algorithm" ng-model="insertionAlgorithm" ng-options="item.name for item in insertionAlgorithms">
							</select>
						</div>
						<div class="form-group">
							<label for="seekSchemes">Seek</label>
							<select id="seekSchemes" class="form-control" role="group" aria-label="Insertion Algorithm" ng-model="seekScheme" ng-options="item.name for item in seekSchemes">
							</select>
						</div>
						<div class="form-group">
							<label for="scheme">Tasks</label>
							<div class="btn-toolbar" role="toolbar" aria-label="Actions">
							  	<div class="btn-group btn-group-sm" role="group" aria-label="Toggle task form">
									<button id="toggleNewTasks" type="button" class="btn btn-default" ng-click="toggleTaskForm()">
									  <span ng-hide="isNewTaskFormOpen"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Add Task
									  </span>
									  <span ng-show="isNewTaskFormOpen"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>Cancel</span>
									</button>
								</div>
							  	<div class="btn-group btn-group-sm" role="group" aria-label="step actions">
									<button title="step through current task" type="button" class="btn btn-default" ng-click="stepTask()">
										<span class="glyphicon glyphicon-play"></span> Step
									</button>
									<button title="finish current task" type="button" class="btn btn-default" ng-click="doTask()">
										<span class="glyphicon glyphicon-step-forward"></span> One Task
									</button>
									<button title="finish all tasks" type="button" class="btn btn-default" ng-click="finishTasks()">
										<span class="glyphicon glyphicon-fast-forward"></span> All Tasks
									</button>
								</div>
							</div>
							<ul id="newTask">
								<li ng-show="isNewTaskFormOpen" class="form-inline">
									<form name="newTaskFrom">
										<div class="col-xs-3">
											<select class="form-control" ng-model="newTaskName" ng-options="name for name in taskNames"></select>
										</div>
										<div ng-show="newTaskName=='Insert'" >
											<div class="col-xs-4 input-group">
												<input class="form-control" duplicate="activeIds" ng-model="newTaskId" required placeholder="id"/>
												<span class="input-group-btn">
													<button id="randomTaskIdButton" class="btn btn-default" type="button" ng-click="makeRandomTaskId()"><span class="glyphicon glyphicon-random"></span></button>
												</span>
											</div>
											<div  class="col-xs-3">
												<input type="number" min="0" max="{{sectors.length}}" required id="newTaskSize" class="form-control" ng-model="newTaskSize" placeholder="Size"/>
											</div>
											<div class="form-group pull-right">
												<button type="button" class="btn btn-default" ng-disabled="newTaskFrom.$invalid" ng-click="enqueTask()">enque</button>
											</div>
										</div>
										<div ng-show="newTaskName=='Seek' || newTaskName=='Delete'">
											<div class="col-xs-1">
												<label for="newTaskId">id:</label>
											</div>
											<div class="col-xs-3">
												<select id="newTaskId" class="form-control" ng-model="newTaskId">
													<option ng-repeat="id in activeIds" value="{{id}}">{{id}}</option>
												</select>
											</div>
										</div>
										<div ng-hide="newTaskName=='Insert'">
											<div class="form-group pull-right">
												<button type="button" class="btn btn-default" ng-click="enqueTask()">enque</button>
											</div>
										</div>
									</form>
								</li>
							</ul>
							<ul id="tasks" ui-sortable="sortableOptions" ng-model="tasks">
								<li ng-repeat="task in tasks" ng-class="{active: task.isActive}">
									<b>{{task.name}}</b>&nbsp;&nbsp;
									<span ng-show="task.id != ''"><b>id:</b><i>{{task.id}}</i></span>&nbsp;&nbsp;
									<span ng-show="task.size!=''"><b>size:</b><i>{{task.size}}</i></span>&nbsp;&nbsp;
									<span class="glyphicon glyphicon-sort"></span>
								</li>
							</ul>
						</div>
					</div>
					<div class="col-lg-6">
						<h3>Allocations</h3>
						<ul id="sectors" >
							<li ng-repeat="sector in sectors" ng-click="selectFile(sector.file)" ng-class="{'taken':!sector.isFree, 'fileSelected':sector.file==selectedFile , 'allocated':allocationQueue.indexOf(sector.index) > -1 }" title="{{sector.index}} - isFree:{{sector.isFree}} next:{{sector.nextIdx}}">
								<span ng-show="sector.index==headSector" class="head"></span>
							</li>
						</ul>
						<ul id="legend">
							<li><span class="text">Free</span></li>
							<li class="taken"><span class="text">Used</span></li>
							<li class="allocated"><span class="text">Allocated</span></li>
							<li class="fileSelected"><span class="text">Selected</span></li>
							<li class="hadHead"><span class="head"></span><span class="text">Head</span></li>
						</ul>
						<div class="row">
							<div class="col-lg-5">
								<h3>Files</h3>
								<ul id="files">
									<li >
										<span>Name</span>
										<span>Index</span>
										<span>Size</span>
									</li>
									<li ng-repeat="file in files" ng-class="{'fileSelected': file.name==selectedFile}">
										<span>{{file.name}}</span>
										<span>{{file.index}}</span>
										<span>{{file.size}}</span>
									</li>
								</ul>
							</div>
							<div class="col-lg-7">
								<h3>Overview</h3>
								<div class="form-group">
									<label for="seekSchemes">Sectors Filled:</label> {{sectors.length - freeSectors.length}}
									<br>
									<label for="seekSchemes">Sectors Free:</label> {{freeSectors.length}}
									<br>
									<label for="seekSchemes">Percent Fragmentation:</label> {{fragmentation}}
									<br>
									<label for="seekSchemes">Head Location:</label> {{headSector}}
									<br>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

    	<script src="static/js/jquery.js"></script>
    	<script src="static/js/jquery-ui.min.js"></script>
    	<script src="static/js/jqueryReady.js"></script>
		<script src="static/js/bootstrap.min.js"></script>

		<script src='static/js/angular.js'></script>
		<script src='static/js/angular-animate.js'></script>
		<script src='static/js/angular-sortable.js'></script>

		<script src='controller/AppController.js'></script>
	    <script src='model/PrivateChatModel.js'></script>
	</body>
</html>