.animation-container{
	position:relative;
	height:100%;
	overflow:hidden;
}

.left-screen.ng-animate,
.right-screen.ng-animate{
	-webkit-transition:all cubic-bezier(.42, 0, 1, 1) 0.3s;
	transition:all cubic-bezier(.42, 0, 1, 1) 0.3s;
}

/*left before-enter and after-leave*/
.left-screen.ng-leave.ng-leave-active,
.left-screen.ng-enter{
	right:700px;
	left:-700px;
}

/*screens before-leave and after-enter*/
.left-screen.ng-enter.ng-enter-active,
.left-screen.ng-leave,
.right-screen.ng-enter.ng-enter-active,
.right-screen.ng-leave{
	left:15px;
	right:15px;
}

/* right before-enter and after-leave */
.right-screen.ng-enter,
.right-screen.ng-leave.ng-leave-active{
	right:-700px;
	left:700px;
}
