#tasks{
	padding:0px;
}
#tasks li{
	list-style: none;
	padding: 10px;
	border-width: 0px 1px 1px 1px;
	border-color: #aaa;
	border-style: solid;
}
#tasks li:first-child{
	border-width: 1px 1px 0px 1px;
}
#tasks li:nth-child(2) {
	border-width:1px;
}

#legend, #sectors{
	padding:0px;
	display:inline-block;
}
#sectors{
	width: 401px;
	height: 401px;
	display: block;
	border-top: 1px solid black;
	border-left: 1px solid black;
}
#sectors li{
	height: 20px;
	width: 20px;
	display: inline-block;
	list-style: none;
	border-bottom: 1px solid black;
	border-right: 1px solid black;
}
#sectors li span, #legend li span{
	height: 19px;
	width: 19px;
	display: block;
}
#legend li{
	list-style-type: none;
	display:inline-block;
	width:70px;
}
#legend li span{
	border:1px solid black;
	display:inline-block;
}
li span.f{
	background-color:green;
}
li span.t{
	background-color:blue;
}
li span.h{
	background-color:red;
}
.btn-toolbar{
	display:inline-block;
}