.pull-right{
	float:right;
}
.ng-invalid{
	border-color:red;
}
#newTask,
#tasks{
	padding:0px;
}
#tasks{
	height:500px;
	overflow:scroll;
}
#newTask li,
#tasks li{
	list-style: none;
	padding: 10px;
	height: 55px;
	line-height: 32px;
	border-width: 0px 1px 1px 1px;
	border-color: #aaa;
	border-style: solid;
	font-size: 16px;
}
#newTask li:first-child,
#tasks li:first-child {
	border-width:1px;
}
#tasks li span.glyphicon{
	float: right;
	line-height: 32px;
}
#tasks li b{
	padding-right:10px;
}
#tasks li i{
	color:#888;
}

#legend, #sectors{
	padding:0px;
	display:inline-block;
}
#sectors{
	width: 401px;
	height: 401px;
	display: block;
	border-top: 1px solid black;
	border-left: 1px solid black;
}
#sectors li, #legend li{
	list-style-type: none;
	background-color: green;
	height: 20px;
	width: 20px;
	display: inline-block;
	list-style: none;
	border-bottom: 1px solid black;
	border-right: 1px solid black;
	position: relative;
}
#sectors li.taken, #legend li.taken{
	background-color: blue;
}
span.head{
	display: inline-block;
	border-radius: 10px;
	overflow: hidden;
	height: 10px;
	width: 10px;
	background-color: red;
	top: 5px;
	left: 5px;
	position: absolute;
}
#legend li{
	width:70px;
	border:1px solid black;
	text-align: right;
	color:white;
	padding-right: 15px;
}
#legend li.hadHead{
	background-color: white;
	color:black;
}
.btn-toolbar{
	display:inline-block;
}